<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="src/comps/modular.js">
  
  <error
    line="3"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 8.5714
    | Effort: 5761.4
    | Volume: 672.16
    | Vocabulary: 26"
    source="&lt;anonymous&gt;"
    />
  
  <error
    line="104"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 8.5000
    | Effort: 1134.2
    | Volume: 133.44
    | Vocabulary: 18"
    source="&lt;anonymous&gt;.runModules"
    />
  
  <error
    line="136"
    severity="warning"
    message="Cyclomatic: 5,
    Halstead: 11.471
    | Effort: 3927.0
    | Volume: 342.35
    | Vocabulary: 27"
    source="&lt;anonymous&gt;"
    />
  
</file>



<file name="src/comps/dependency-manager.js">
  
</file>



<file name="src/yoson.js">
  
</file>



<file name="src/comps/loader.js">
  
  <error
    line="4"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 8.4211
    | Effort: 4903.5
    | Volume: 582.29
    | Vocabulary: 24"
    source="&lt;anonymous&gt;"
    />
  
</file>



<file name="src/comps/dependency.js">
  
</file>



<file name="src/comps/comunicator.js">
  
  <error
    line="67"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 10.385
    | Effort: 2454.4
    | Volume: 236.35
    | Vocabulary: 22"
    source="&lt;anonymous&gt;.finderEvents"
    />
  
</file>



<file name="src/core.js">
  
</file>



</checkstyle>
