<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="src/comps/loader.js">
  
</file>



<file name="src/comps/modular-manager.js">
  
</file>



<file name="src/yoson.js">
  
</file>



<file name="src/comps/modular.js">
  
</file>



<file name="src/comps/dependency-manager.js">
  
  <error
    line="115"
    severity="warning"
    message="Cyclomatic: 2,
    Halstead: 10.267
    | Effort: 2702.4
    | Volume: 263.22
    | Vocabulary: 26"
    source="&lt;anonymous&gt;.addScript"
    />
  
</file>



<file name="src/comps/dependency.js">
  
</file>



<file name="src/core.js">
  
</file>



<file name="src/comps/comunicator.js">
  
</file>



<file name="src/comps/single-promise.js">
  
</file>



<file name="src/comps/modular-monitor.js">
  
</file>



<file name="src/comps/loader-schema.js">
  
</file>



</checkstyle>
